.container_area {
  border: 1px solid #555;
  border-radius: 15px;
  padding: 10px;
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.container_area .image {
  margin-right: 5px;
}

.container_area input {
  border: 0px;
  background: transparent;
  outline: 0;
  color: #fff;
  font-size: 18px;
  flex: 1;
}
